.homebody{
    background-image: url('../images/journal.jpg');
    background-size: cover;
    padding: 57px 0px 0px 0px;
    height: 100%;
}

.homebody .searchBar{
    position: fixed;
    width: 100%;
    border: 1px solid rgba(247, 58, 33, 0.952);
    outline: none;
}

.homebody .btn{
    color: rgba(255, 255, 255, 0.76);
    background-color: rgba(247, 58, 33, 0.952);
    height: 50px;
    margin-left: 10px;
}

.homebody .btnUser1{
    border-radius: 35px; 
    width: 200px;
    
    
}
.homebody .btnUser2{
    border-radius: 45px; 
    width: 200px;
    
}

.homebody .testArea{
    width: 300px;
}

.homebody .cl1{
    height: 500px;
}

.homebody .cl2{
    height: 200px;
}

.homebody .cl3{
    height: 500px;
}