
.OtherUserEntry{
    padding: 60px 0;
    background-image: url('./journal.jpg');
    background-size: cover;
    height: auto;
}

.btnFollow{
    margin-left: 30px;
    margin-right:10px;
}

.btnUnfollow{
    margin-left: 30px;
    margin-right:10px;
}