.otherusertitlelist{
    padding: 60px 0;
    background-image: url('../images/journal.jpg');
    background-size: cover;
    height: 800px;
}

.otherusertitlelist .testArea{
    margin-left: 300px;
    color: rgba(255, 255, 255, 0.76);
    background-color:rgba(247, 58, 33, 0.952);
}

.list-body{
    height: 500px;
    width: 500px;
    margin-top: 20px;
    margin-left: 300px;
    background-color: saddlebrown;
}