
.OtherUserEntry{
    padding: 60px 0;
    background-image: url('../images/journal.jpg');
    background-size: cover;
    height: auto;
}

.OtherUserEntry .btnFollow{
    margin-left: 450px;
    margin-right:10px;
    color: rgba(255, 255, 255, 0.76);
    background-color:rgba(247, 58, 33, 0.952);
}

.OtherUserEntry .btnUnfollow{
    margin-left: 30px;
    margin-right:10px;
    color: rgba(255, 255, 255, 0.76);
    background-color:rgba(247, 58, 33, 0.952);
}