.profile-body{
    padding: 56px 2% 0px 2%;
    height: 100%;
}

.profile-body .composeLink:link {
    color: rgba(255, 255, 255, 0.76);
    text-decoration: none;
}

.profile-body .composeLink:visited{
    color: rgba(255, 255, 255, 0.76);
    text-decoration: none;
}

.profile-body .composeLink:hover{
    color: rgba(255, 255, 255, 0.76);
    text-decoration: none;
}

.profile-body .composeLink:active{
    color: rgba(255, 255, 255, 0.76);
    text-decoration: none;
}

.profile-body .btn{
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    position: center;
    width: 40%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.76);
    background-color:rgba(177, 21, 0, 0.884);
    border: 2px solid rgba(255, 255, 255, 0.76);
    border-radius: 10px;
    outline: none;
}

.profile-body .btn:hover{
    border: 2px solid rgba(177, 21, 0, 0.884);
}

.profile-body .btn:active{
    color: black;
    background: rgba(255, 255, 255, 0.76);
}

.profile-body .followButton{
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 10%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.76);
    background-color:rgba(177, 21, 0, 0.884);
    border: 2px solid rgba(255, 255, 255, 0.76);
    border-radius: 10px;
    outline: none;
}

.profile-body .followButton:hover{
    border: 2px solid rgba(177, 21, 0, 0.884);
}

.profile-body .followButton:active{
    color: black;
    background: rgba(255, 255, 255, 0.76);
}